.one
{
    width:525px;
    height: 350px;
    background-color:black;
    color:white;
    text-align: center;
    margin:auto;
    padding-top:30px;
    margin:200px auto;
    box-shadow:0 0 3px 3px gray;
    border-radius:9px;
}
body
{
    background-color: gray;
}

.gl
{
    font-size: 1.6em;
    padding-bottom:15px;
}
p
{
    color:white;
}