body {
    background-color: rgb(15, 15, 15);
}

.one {
    width: 1000px;
    height: 500px;
    background-color: rgb(53, 53, 53);
    color: rgb(163, 163, 163);
    text-align: center;
    margin: auto;
    padding-top: 30px;
    margin: 20 auto;
    box-shadow: 0 0 3px 3px rgb(255, 0, 0);
    border-radius: 9px;
}